#course-content{
    border-bottom: 1px solid var(--color-h2);
}

#course-content h2 {
  font: var(--text-h2);
  color: var(--color-h2);
  letter-spacing: 0.19rem;
  margin-top: 70px;
  text-transform: uppercase;
}

#course-content p {
  width: 792px;
  height: 40px;
  font: var(--text-regular);
  color: var(--color-text-main);
  text-align: center;
}

.modules-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.module {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: var(--color-text-main);
  background-color: var(--color-background-button);
  border: 1px solid var(--color-h2);
  border-radius: 57px;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.4);
  width: 535px;
  height: 51px;
}

.module span {
  color: var(--color-h2);
  font: var(--text-regular);
}

.module span::after {
  content: " "; /* Adiciona um espaço */
  display: inline-block; /* Garante que o espaço seja visível */
  width: 5px; /* Controla o tamanho do espaço */
}
