#professional-challenges h2 {
  width: 746px;
  height: 76px;
  font: var(--text-h2);
  color: var(--color-h2);
  letter-spacing: 0.19rem;
  margin-top: 60px;
  text-align: center;
  text-transform: uppercase;
}

#professional-challenges p {
  width: 792px;
  height: 76px;
  font: var(--text-regular);
  color: var(--color-text-main);
  margin: 60px 0;
  text-align: center;
}
