footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding: 3.7rem 0 1.5rem 0;
}

footer p {
  width: 16.2rem;
  height: 1.2rem;
  font: var(--text-regular);
  color: var(--color-text-main);
}